:root {
  --main-font-family: "Chivo", Arial, sans-serif;
  --background-gradient: linear-gradient(
    415deg,
    #ff87c1 10%,
    #ff9a9e 25%,
    #ffc372 50%,
    #c6a8f6 75%
  );
  --primary-color: #000;
  --secondary-color: #f8dffa;
  --highlight-color: #00ff75;
  --border-color: #000;
  --timer-background: #faf4a0;
  --border-width: 3px;
  --border-radius: 12px;
  --button-border-radius: 10px;
  --font-size-h1: 48px;
  --font-size-label: 14px;
  --font-size-input: 32px;
  --font-size-button: 18px;
  --font-size-timer-end: 14px;
  --font-size-timer-time: 32px;
  --box-shadow: 0.25rem 0.25rem 0rem #000;
}

body {
  background: var(--background-gradient);
  color: var(--primary-color);
  font-family: var(--main-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0.2)
    );
  background-size: 10px 10px;
  opacity: 0.1;
  z-index: 1;
  backdrop-filter: blur(5px);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  margin-bottom: 100px;
  z-index: 3;
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--primary-color);
  margin-bottom: 32px;
  z-index: 4;
}

.timer-input-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  width: 320px;
  height: 184px;
  text-align: center;
  padding: 10px;
  background-color: var(--secondary-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  z-index: 4;
}

.timer-inputs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.timer-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.timer-label {
  font-size: var(--font-size-label);
  margin: 10px;
  font-family: var(--main-font-family);
}

.timer-input {
  width: 50px;
  text-align: center;
  font-size: var(--font-size-input);
  background-color: transparent;
  border-radius: var(--button-border-radius);
  border: var(--border-width) solid var(--border-color);
  font-family: var(--main-font-family);
  padding: 10px;
  background-color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.add-timer-button {
  padding: 10px 20px;
  font-size: var(--font-size-button);
  background-color: var(--highlight-color);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  margin-top: 10px;
  font-family: var(--main-font-family);
  border: var(--border-width) solid var(--border-color);
  font-weight: 600;
  position: absolute;
  bottom: 24px;
  right: 48px;
  color: var(--primary-color);
}

.add-timer-button:hover {
  box-shadow: var(--box-shadow);
}

.timer-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.timer-display {
  background-color: var(--timer-background);
  padding: 20px;
  border-radius: var(--border-radius);
  text-align: center;
  max-width: 200px;
  border: var(--border-width) solid var(--border-color);
  z-index: 4;
}

.timer-circle {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.timer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.timer-info {
  text-align: center;
  color: var(--primary-color);
  font-family: var(--main-font-family);
}

.timer-end-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.timer-icon {
  width: 15px;
}

.timer-end,
.timer-base {
  font-size: var(--font-size-timer-end);
  color: var(--primary-color);
}

.timer-time {
  font-size: var(--font-size-timer-time);
  color: var(--primary-color);
  font-family: var(--main-font-family);
}

.timer-controls {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.timer-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.control-icon {
  width: 35px;
}

.footer {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  font-family: var(--main-font-family);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 12px;
  line-height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.footer p {
  margin: 5px 0;
}
